<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caricamento File</title>
</head>
<body>
    <h1>Carica le tue immagini</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="name">Nome Studente:</label>
        <select name="name" id="name" required>
            <option value="" disabled selected>Seleziona nome</option>
            {% for name in names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="category">Elemento del Sito:</label>
        <select name="category" id="category" required>
            <option value="" disabled selected>Seleziona elemento</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="file">Carica Immagine:</label>
        <input type="file" name="file" id="file" accept="image/*" multiple required>
        <br><br>

        <button type="submit">Carica</button>
    </form>
</body>
</html>
